html,
body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.base-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 48px;
}

.base-article {
  max-width: 1024px;
  display: flex;
  align-items: center;
}

.hero {
  background-color: rgb(54, 61, 64);
}

.hero__content {
  flex-direction: column-reverse;
  padding-inline: 88px;
  gap: 16px;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  color: rgb(75, 79, 80);
  font-weight: 100;
  padding: 30px;
}

.hero__title {
  font-size: 60px;
  font-weight: 300;
  margin-block: 0;
}

.hero__img__div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__presentation {
  border-radius: 5px;
  color: #afaca9;
}

.hero__copy {
  font-size: 16px;
  font-weight: 200;
  padding-block: 20px;
}

.hero__pic {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #414142;
}

.hero__btn {
  font-family: "Rubik", sans-serif;
  border-radius: 20px;
  padding: 20px 20px;
  font-size: 20px;
  background-color: rgb(86, 105, 144);
  color: #f0e2d6;
  border: none;
}

.hero__btn:hover {
  background-color: rgb(242, 148, 66);
  cursor: pointer;
}

.links-article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact__links {
  border-radius: 10px;
  padding: 20px;
  background-color: #afaca9;
  color: rgb(75, 79, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

li {
  list-style: none;
}

svg {
  width: 20px;
  margin-right: 5px;
  padding-inline: 10px;
}

#gitHub-icon {
  margin-top: 20px;
}
