.navbar {
  display: block;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    color: rgb(75, 79, 80);
    font-weight: 100;
    padding: 30px;
  }
}
